<!DOCTYPE html>
<html>
  <!--
  * Please see the included README.md file for license terms and conditions.
  -->

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="ionic/css/ionic.min.css">
    <title>Blank App Designer Cordova Web App Project Template</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <!--
  * The "meta viewport" tag (below) helps your app size appropriately to a device's ideal viewport.
  * Note that Windows device viewports work better when initialized using the @viewport CSS rule.
  * For a quick overview of "meta viewport" and @viewport, see this article:
  *   http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag
  * To see how it works, try your app on a real device with and without a "meta viewport" tag.
  * Additional useful references include:
  *   http://www.quirksmode.org/mobile/viewports.html
  *   http://www.quirksmode.org/mobile/metaviewport/devices.html
  *   https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
-->

    <!-- <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=2"> -->

    <style>
      /* following three (cascaded) are equivalent to above three meta viewport statements */
            /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html */
            /* see http://dev.w3.org/csswg/css-device-adapt/ */
                @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
                @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
                /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/
    </style>

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap-3.1.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/customer.css">

    <!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
    <!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work below -->
    <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->

    <!-- Recommended location for your JavaScript libraries -->
    <!-- These library references (below) are just examples to give you the general idea... -->
    <!-- <script src="lib/mc/hammer.js"></script> -->
    <!-- <script src="lib/ft/fastclick.js"></script> -->

    <!--
  * cordova.js is a phantom lib for "Cordova HTML5 web app," it does nothing in a "Standard HTML5 web app"
  * Seeing a "Failed to load resource: net::ERR_FILE_NOT_FOUND" message caused by this "cordova.js" script?
  * The cordova.js script is required if you convert your "Standard HTML5" project into a "Cordova" project.
  * You can safely ignore the error or comment out this line if you will not be developing a Cordova app.
-->
    <script src="cordova.js" id="xdkJScordova_"></script>
    <!-- for your event code, see README and file comments for details -->
    <script src="js/init-app.js"></script>
    <!-- for your init code, see README and file comments for details -->
    <script src="xdk/init-dev.js"></script>
    <!-- normalizes device and document ready events, see file for details -->
    <script type="application/javascript" src="lib/jquery.min.js"></script>
    <script type="application/javascript" src="marginal/marginal-position.js"></script>
    <script type="application/javascript" src="ionic/js/ionic.bundle.js"></script>
    <script type="application/javascript" src="js/index_init_services.js"></script>

    <script src="js/app.js"></script>
  </head>

  <body ng-app="myApp"
        ng-controller="RootCtrl"
        >
    <div class="chat-dialog"
         ng-controller="DialogCtrl"
         style="display:none;"
         >
      <ion-header-bar class="bar-dark">
        <button class="button button-clear"
                ng-click="backClick()"
                >
          <i class="icon ion-ios7-arrow-back"></i>
          Back
        </button>
        <h4 style="margin:auto">{{value}}</h4>
      </ion-header-bar>
      <div class="message-display-area">
          <div class="messages">
          </div>
      </div>
      <div class="bottom">
        <div class="input-area">
          <div class="text-input-area">
            <div class="add-picture"
                 ng-click="AddPic()"
                 >
            </div>
            <div><textarea></textarea></div>
            <div class="send-message"
                 ng-click="SendOut()"
                 >
              发送
            </div>
          </div>
          <div class="picture-input-area"
               style="display:none;"
               >
            <img id="captured-image-placeholder"
                 ng-click="DelPic()"
                 >
          </div>
        </div>
      </div>
    </div>
    <div class="main-page">
      <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="UChat"
                 icon-on="ion-ios7-chatbubble"
                 icon-off="ion-ios7-chatbubble-outline"
                 ng-controller="UChatCtrl"
                 >
          <ion-header-bar class="bar-dark">
            <h1 class="title">UChat</h1>
            <div class="buttons">
              <button class="button button-clear">
                <i class="icon ion-ios7-search"></i>
              </button>
              <button class="button button-clear">
                <i class="icon ion-plus-round"></i>
                Group
              </button>
            </div>
          </ion-header-bar>
          <ion-content has-tabs="true"
                       >
            <ion-refresher pulling-text="Pull to refresh..."
                           on-refresh="onRefresh()"
                           >
            </ion-refresher>
            <ion-list>
              <ion-item ng-repeat="item in items"
                        item="item"
                        ng-click="onClick(item)"
                        class="item-avatar"
                        >
                <img ng-src="{{item.imgsrc}}">
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
                <ion-option-button class="button button-balanced"
                                   ng-click="PinTop(item)"
                                   >
                  Top
                </ion-option-button>
                <ion-option-button class="button button-assertive"
                                   ng-click="DelSession(item)"
                                   >
                  Del
                </ion-option-button>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-tab>
        <ion-tab title="Contact"
                 icon-on="ion-ios7-people"
                 icon-off="ion-ios7-people-outline"
                 ng-controller="ContactCtrl"
                 >
          <ion-header-bar class="bar-dark">
            <h1 class="title">UChat</h1>
            <div class="buttons">
              <button class="button button-clear">
                <i class="icon ion-ios7-search"></i>
              </button>
              <button class="button button-clear">
                <i class="icon ion-plus-round"></i>
                Group
              </button>
            </div>
          </ion-header-bar>
          <ion-content has-tabs="true"
                       >
            <ion-list>
              <ion-item ng-repeat="item in items | orderBy: 'title'"
                        item="item"
                        ng-click="onClick(item)"
                        class="item-avatar"
                        >
                <img ng-src="{{item.imgsrc}}">
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-tab>
        <ion-tab title="Settings"
                 icon-on="ion-ios7-gear"
                 icon-off="ion-ios7-gear-outline"
                 ng-controller="SettingsCtrl"
                 >
          <ion-header-bar class="bar-dark">
            <h1 class="title">UChat</h1>
            <div class="buttons">
              <button class="button button-clear">
                <i class="icon ion-ios7-search"></i>
              </button>
              <button class="button button-clear">
                <i class="icon ion-plus-round"></i>
                Group
              </button>
            </div>
          </ion-header-bar>
          <ion-content has-tabs="true"
                       >
            <ion-list>
              <ion-item class="item-thumbnail-left">
                <img src="img/eminem.jpeg">
                <h1>W王天雨</h1>
              </ion-item>
              <ion-item class="item-divider"></ion-item>
              <ion-item class="item-icon-left"
                        ng-click="OpenAlbum"
                        >
                <i class="icon ion-ios7-photos"></i>
                Album
              </ion-item>
              <ion-item class="item-divider"></ion-item>
              <ion-item class="item-icon-left"
                        ng-click="LogOut"
                        >
                <i class="icon ion-ios7-person"></i>
                Log out
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-tab>
      </ion-tabs>
    </div>
  </body>
</html>