html {
	background: #EEE;
}

body {
/*	width: 960px;*/
	margin: 0 10px;
	color: rgba(0,0,0,0.85);
}

.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 48px;
	background: linear-gradient(rgba(251, 251, 250, 0.9), rgba(246, 246, 245, 0.9));
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
	z-index: 100;
	border: 0;
	border-radius: 0;
}

div {
	box-sizing: border-box;
}

ul, li {
	/* padding: 0; */
	margin: 0;
	list-style: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

.customer.popup {
    display: none;
	position: fixed;
	z-index: 500;
}

.header-content {
	margin: 0 10px;
	padding: 0;
	/*display: flex;*/
	/*flex-direction: row;*/
}

.header-content .search-box {
	position: absolute;
	left: 100px;
	/*flex: none;*/
}

.logo {
	/*flex: none;*/
	position: relative;
	height: 48px;
	background: url(../images/logo-mkt-zh.png) left center no-repeat;
	opacity: 0.75;
}

.container-fluid > .navigation-header {
	min-width: 308px;
	margin: 0;
}

.navigation {
}

.navigation-header > .navbar-toggle {
	margin-top: 7px;
}

.navigation ul {
    background: linear-gradient(rgba(251, 251, 250, 0.9), rgba(246, 246, 245, 0.9));
/*	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;*/
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
    margin: 0 -15px;
}

.navigation ul li {
	/* padding: 0 15px; */
	line-height: 48px;
	white-space: nowrap;
	/* background: linear-gradient(rgba(251, 251, 250, 0.9), rgba(246, 246, 245, 0.9)); */
}

#selected {
	font-weight: bold;
	color: rgba(0,0,0,0.8);
	box-shadow: 0 -6px 0 #66ABB5 inset;
}

.navigation ul li a {
    font-size: 16px;
}

.content {
	width: 100%;
	margin: 55px 0 20px;
}

.recommended {
	width: 100%;
	margin-bottom: 8px;
	border-radius: 1px;
	background: #FFF;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}
.recommended .product-info {
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.recommended .product-info p {
	flex: 1;
	margin: 0 20px;
	font-size: 18px;
}

.recommended .product-options, .recommended .product-options .comment {
	margin-left: 10px;
	margin-top: 0;
}

.recommended .product-info .price {
	flex: none;
	font-size: 18px;
	line-height: initial;
	color: rgba(235, 105, 100, 0.85)
}

.all-products {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.column {
	flex: 1;
	margin-right: 8px;
}

.last.column {
	margin-right: 0;
}

.row {
	width: 100%;
	border-radius: 1px;
	background: #FFF;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1)
;
	margin: 0 0 6px;
}

.product-img {
	width: 100%;
	border-radius: 1px 1px 0 0;
	background-color: #f8f8f8;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.product-img:hover {
	-webkit-filter: brightness(98%);
}

.product-info {
	padding: 10px 15px;
	/*border-top: solid 1px rgba(0,0,0,0.05)*/
}

.product-info p {
	margin: 0;
	font-size: 14px;
	text-align: left;
}

.product-options {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.price {
	flex: 70;
	font-size: 12px;
	line-height: 20px;
	color: #66ABB5;
}


.product-options .items {
	margin-left: 10px;
	padding-left: 20px;
	font-size: 12px;
	line-height: 20px;
}
.like {
	flex: 15;
	background: url(../images/like.png) left 4px no-repeat;
}

.liked {
	flex: 15;
	background: url(../images/liked.png) left 4px no-repeat;
}

.comment {
	flex: 15;
	background: url(../images/comments.png) left 4px no-repeat;
}

footer {
    /*display: none;*/
	position: absolute;
	left: 0;
	width: 100%;
	background: rgba(245, 245, 245, 0.95);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) inset;
}

.footer-content {
	margin: 0 auto;
	padding: 10px 0;
}

.footer-content p{
	font-size: 14px;
	margin: 0;
}

.cs-button {
	position: fixed;
	top: 55px;
	background-image: url(../images/cs-icon.png);
	background-position: 10px 7px;
	background-repeat: no-repeat;
	background-color: #7FAE50;
	right: -76px;
	padding: 1px 10px 1px 41px;
	-webkit-transition: 0.15s 0.1s ease-in;
    z-index: 200;
}

.cs-button:hover {
	right:-65px;
	padding: 1px 10px 1px 41px;
}

.cs-button.show {
    right: 0;
}

.cs-menu {
	position: fixed;
	right: -190px;
	top: 94px;
	border-radius: 3px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	z-index: 120;
	-webkit-transition: 0.15s 0.1s ease-in;
}

.cs-menu.show {
    right: 10px;
}

.cs-menu p.title {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.cs-menu p.info {
	margin: 0;
	font-size: 14px;
	line-height: 26px;
}

.supporters {
	padding: 13px 15px 5px;
	display: flex;
	flex-direction: column;
}

.supporters button {
	margin: 6px 0;
	padding: 1px 15px;
}

.online {
	background: #7FAE50;
}

.offline {
	background: #707070;
	cursor: inherit;
}

.busy {
    background: #B65245;
}

.additional-info {
	padding: 2px 15px 10px;
}

.settings.button {
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 12px 0 0 10px;
    background-image: url(../images/settings.png);
    background-size: contain;
}

#settings-dialog {
    display: none;
}

#settings-dialog input.ip {
    display: block;
    margin: 10px auto;
}

/**********************************************************/
.chat-dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.chat-dialog .header{
    background-color: rgb(226, 226, 226);
    height: 40px;
    font-size: 15pt;
    line-height: 30px;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.chat-dialog .header .quit {
    float: right;
    cursor: pointer;
}

.chat-dialog .message-display-area {
    padding: 0 10px;
    height: -webkit-calc(100% - 90px);
    overflow: auto;
}

.chat-dialog .message-display-area .one-message {
    background-color: rgb(226, 226, 226);
    margin: 10px 0;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    padding: 5px;
}

.chat-dialog .message-display-area .one-message .text-message pre {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    color: black;
    background-color: transparent;
    border: 0;
}

.chat-dialog .message-display-area .one-message .picture-message {
    line-height: 0;
}

.chat-dialog .message-display-area .one-message .picture-message img{
    width: 100px;
    margin-top: 5px;
}

.chat-dialog .input-area {
    width: 100%;
    background-color: rgb(226, 226, 226);
}

.chat-dialog .input-area .text-input-area {
    height: 50px;
    padding: 5px;
    border: 1px solid #000;
    border-bottom-color: gray;
    border-left-width: 0;
    border-right-width: 0;
}

.chat-dialog .input-area .text-input-area .add-picture {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url(../images/add.png);
    background-position: center;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 20px;
    float: left;
    cursor: pointer;
}

.chat-dialog .input-area .text-input-area textarea {
    width: -webkit-calc(100% - 100px);
    height: 40px;
    outline: none;
    resize: none;
    float: left;
    margin: 0 10px;
    font-size: 17pt;
}

.chat-dialog .input-area .text-input-area .send-message {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    cursor: pointer;
}

.chat-dialog .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat-dialog #captured-image-placeholder {
    width: 100px;
    padding: 5px;
}