body {
	font-family: Helvetica, Arial, Sans-serif;
	margin: 0;
	background-color: transparent;
}

.popup {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	display: flex;
	align-items:center;
	justify-content: center;
}

.popup-dialog {
    display: none;
	width: 380px;
	border-radius: 3px;
	background: #fff;
}

.dialog-title p {
	margin: 0;
	padding-top: 10px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
}

.close {
	float: right;
	position: relative;
	left: -2px;
	top: -32px;
	width: 20px;
	height: 20px;
	background: url(../images/close.png) center no-repeat;
	cursor: pointer;
}

.dialog-content {
	padding: 10px 20px;
	font-size: 14px;
	line-height: 24px;
}

.dialog-footer {
	padding: 5px 20px 20px;
	display: flex;
	align-items:center;
	justify-content: center;
}

button {
	margin: 0 10px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	font-family: inherit;
	color: #fff;
	text-shadow: 0 0px 1px rgba(0,0,0,0.35);
	border-radius: 3px;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
	-webkit-appearance: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.popup-dialog button {
	width: 90px;
}

.confirm {
	background: #508039;
}

.cancel {
	background: #707070;
}

.container {
	width: 100%;
	height: 100%;
}

input {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #FFF;
	border-radius: 2px;
	border: none;
	-webkit-appearance: none;
	outline: none;
	font-family: inherit;
	font-size: 14px;
	color: inherit;
}

.search-box {
	float: right;
	margin-left: auto;
	margin-top: 8px;
	width: 180px;
	height: 31px;
	padding-left: 27px;
	background-image: url(../images/search.png);
	background-position: 8px 9px;
	background-repeat: no-repeat;
}

.text-input {
	height: 42px;
	margin: 7px;
	border-radius: 3px;
	background: #fff;
}

.video-box {
    display: none;
	width: 800px;
	background: #FFF;
	box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.video-area {
	background: #000;
	display: flex;
	align-items:center;
	justify-content: center;
}
.main.video-area {
/*	width: 854px;*/
/*	height: 480px;*/
	width: 800px;
	height: 450px;
}
.main.video-area video {
	width: 100%;
}

.mine.video-area {
	width: 210px;
	height: 120px;
	margin-top: -120px;
/*	margin-left: 644px;*/
    margin-left: 590px;
	border-top: solid 1px rgba(255, 255, 255, 0.15);
	border-left: solid 1px rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
}

.video-description {
	font-size: 14px;
	color: rgba(255,255,255,0.25);
}

.video-control {
	height: 80px;
	display: flex;
	align-items:center;
	justify-content: center;
}

.video-control button {
	padding: 5px 20px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

#stop-video {
	background: #B65245;
}

.personal-bar {
	height: 56px;
	background: rgba(0,0,0,0.12);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dropdown-button {
	width: 0;
	height: 0;
	margin: 4px 0 0 10px;
	border-top: solid 5px rgba(255, 255, 255, 0.5);
	border-right: solid 4px rgba(255, 255, 255, 0);
	border-bottom: solid 4px rgba(255, 255, 255, 0);
	border-left: solid 4px rgba(255, 255, 255, 0);
}

@media (max-width: 400px) {
	.search-box {
		width: 140px;
	}
}